@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;

  color-base-100: #eaeced;
  color-primary: #caeb66;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  background-color: #eaeced;
}

